.body {
  text-shadow: 0 7px 6px #000;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-family: Merriweather, serif;
}

.image {
  object-fit: fill;
  display: none;
}

.hourglass-image {
  width: 40px;
  height: 50px;
  margin-top: 20px;
}

.text-block {
  width: 80px;
  margin-bottom: 66px;
  margin-left: 903px;
  padding-left: 0;
}

.brand-to-home {
  width: 50px;
  height: 65px;
  object-fit: fill;
  background-color: #000;
  background-image: url('../images/Screenshot-2023-01-01-at-9.43.17-PM.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  border: 1px solid #000;
  border-radius: 12px;
  margin-bottom: -2px;
  margin-left: 190px;
  padding-left: 0;
  font-size: 20px;
  line-height: 30px;
  overflow: visible;
}

.navbar {
  background-color: rgba(238, 238, 238, 0);
  border: 0 rgba(0, 0, 0, .47);
  margin-top: 13px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link {
  font-family: Montserrat, sans-serif;
}

.nav_bar_text {
  text-transform: uppercase;
  text-shadow: none;
  white-space: normal;
  padding-top: 10px;
  font-family: Merriweather, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.navigation_bar {
  width: 1200px;
  object-fit: fill;
  background-color: rgba(255, 255, 255, 0);
  border: 1px #000;
  border-bottom-style: solid;
  border-radius: 1px;
  margin-left: 129px;
  margin-right: auto;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
  overflow: visible;
}

.main_heading {
  background-color: rgba(255, 255, 255, 0);
  margin-top: 51px;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  position: relative;
  left: 50px;
}

.heading {
  float: none;
  clear: none;
  text-align: left;
  text-shadow: none;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat, sans-serif;
  font-size: 43px;
  line-height: 55px;
  display: inline-block;
}

.heading-2 {
  text-shadow: none;
  margin-left: 196px;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
}

.form-block {
  width: 300px;
  margin-top: 19px;
  margin-left: 0;
  margin-right: 2px;
  position: static;
}

.form {
  margin-left: 755px;
}

.paragraph_container {
  margin-top: 60px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.subscribe_bar {
  width: 120px;
  height: 40px;
  color: #000;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  object-fit: fill;
  background-color: #fff;
  border: .5px solid #b6b6b6;
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 0;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  overflow: visible;
}

.subscribe_bar:hover {
  background-color: #61b5c0;
}

.subscribe_bar:active {
  color: #fff;
  background-color: #000;
}

.subscribe_bar.w--current {
  color: #fff;
  background-color: #61b5c0;
}

.subscribe_bar.about {
  color: #000;
  background-color: #fff;
  padding-left: 0;
  display: block;
}

.subscribe_bar.about.aboutpage {
  color: #000;
  background-color: #fff;
}

.subscribe_bar.about.aboutpage:hover {
  background-color: #d266d4;
}

.subscribe_bar.about.aboutpage:active {
  color: #fff;
  background-color: #000;
}

.subscribe_bar.about.aboutpage.w--current {
  color: #fff;
  background-color: #d266d4;
}

.subscribe_bar.current {
  color: #fff;
  background-color: #000;
}

.nav_menu {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  top: 9px;
  right: 65px;
}

.main_image {
  max-width: 50%;
  background-color: #61b5c0;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  margin-top: -354px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  left: 228px;
}

.paragraph {
  max-width: 500px;
  text-shadow: none;
  background-color: #fff;
  order: 1;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
  padding-right: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  display: block;
}

.small_blurb-sub {
  margin-top: -112px;
  padding-bottom: 89px;
  padding-right: 449px;
}

.link {
  font-style: italic;
}

.text-block-2 {
  margin-top: -76px;
}

.subscribe {
  text-transform: uppercase;
  text-shadow: none;
  -webkit-text-fill-color: inherit;
  background-color: #000;
  background-clip: border-box;
  border: 1px solid #14d188;
  border-radius: 6px;
  margin-top: 22px;
  margin-left: 159px;
  font-family: Merriweather, serif;
  font-weight: 700;
}

.text-block-3 {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  direction: ltr;
  text-indent: 0;
  text-shadow: none;
  column-count: auto;
  white-space: normal;
  mix-blend-mode: normal;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 666px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  position: static;
  transform: none;
}

.subscription_button {
  width: 140px;
  height: 50px;
  text-align: center;
  text-transform: capitalize;
  text-shadow: none;
  white-space: normal;
  background-color: #000;
  border-radius: 6px;
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  padding-right: 17px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.subscription_button:hover {
  background-color: #e95075;
}

.subscription_button:active {
  background-color: #000;
}

.image-2 {
  margin-top: 204px;
  margin-left: 108px;
}

.text-block-4 {
  text-shadow: none;
  margin-top: -14px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-left: 0;
  font-size: 20px;
  font-weight: 300;
  display: block;
}

.image-3 {
  margin-left: 675px;
}

.image-4 {
  height: auto;
  -webkit-text-fill-color: inherit;
  background-color: #d4d4d4;
  background-clip: border-box;
  border-radius: 0;
  margin: 37px auto -14px;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  position: relative;
  left: auto;
}

.section {
  width: auto;
  max-width: 1070px;
  border: .5px #c2c2c2;
  border-bottom-style: solid;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
}

.container {
  height: 10px;
  max-width: 1070px;
  border-bottom: .5px solid #c2c2c2;
  margin-top: 70px;
  padding-left: 0;
}

.image-5 {
  margin-top: 81px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.image-6 {
  width: 40px;
}

.image-7 {
  width: 50px;
  border-radius: 11px;
  margin-top: 3px;
  margin-bottom: -68px;
  margin-left: 190px;
  padding-bottom: 0;
}

.link-block {
  background-image: url('../images/Screenshot-2023-01-13-at-3.01.45-PM.png');
  background-position: 50%;
  background-size: contain;
  margin-top: 0;
  margin-bottom: -67px;
  margin-left: 190px;
}

.link-block.w--current {
  border-radius: 20px;
}

.button {
  width: 60px;
  height: 85px;
  -webkit-text-fill-color: inherit;
  background-color: #e95075;
  background-image: url('../images/Screenshot-2023-01-13-at-3.01.45-PM.png');
  background-position: 50%;
  background-size: 65px;
  background-clip: border-box;
  border-radius: 11px;
  margin-top: 11px;
  margin-bottom: -72px;
  margin-left: 190px;
  padding-bottom: 30px;
}

.button:hover {
  opacity: .5;
  outline-offset: 0px;
  mix-blend-mode: normal;
  outline: 3px #fff;
  box-shadow: 1px 1px 3px 2px #000;
}

.button.w--current {
  background-image: url('../images/Screenshot-2023-01-13-at-3.01.45-PM.png');
  background-position: 50%;
  background-size: 65px;
  margin-top: 11px;
  margin-bottom: -72px;
  margin-left: 190px;
}

.form-2 {
  max-width: 540px;
  margin-top: 127px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 148px;
  padding-right: 86px;
  position: relative;
  left: 273px;
}

.field-label {
  margin-bottom: 15px;
  font-family: Merriweather, serif;
  display: block;
}

.field-label-2 {
  margin-bottom: 15px;
  font-family: Merriweather, serif;
}

.submit-button {
  text-align: center;
  background-color: #7f5ac5;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
  font-family: Merriweather, serif;
}

.submit-button:hover {
  background-color: #f2a7cd;
}

.submit-button:active {
  background-color: #000;
}

.field-label-3 {
  margin-bottom: 15px;
}

.text-field, .text-field-2 {
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.text-field-3 {
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.form-block-2 {
  margin-top: -85px;
}

.image-8 {
  margin-top: -434px;
}

.text-block-5 {
  margin-top: -326px;
  margin-left: 198px;
  margin-right: 400px;
  padding-right: 267px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
}

.image-9 {
  max-width: 70%;
  margin-top: -510px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
  display: block;
  position: relative;
  left: -191px;
}

.container-2 {
  padding-left: 0;
  display: block;
}

.heading-3 {
  text-align: center;
  margin-top: 80px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 26px;
}

.block-quote {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 22px;
}

.paragraph-2 {
  text-align: center;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 18px;
  font-weight: 400;
}

.paragraph-3 {
  max-height: 360px;
  max-width: 500px;
  text-align: left;
  flex: 0 auto;
  order: -1;
  padding-left: 0;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 22px;
  position: relative;
  left: 31px;
}

.container-4 {
  max-width: 1000px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.image-10 {
  position: relative;
  left: 350px;
}

.section-2 {
  max-width: 1070px;
  border: 1px #c2c2c2;
  border-bottom: .5px solid #c2c2c2;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.body-2 {
  border-bottom: .5px #000;
  border-right: 1px #000;
}

.image-11 {
  position: relative;
  top: -59px;
  left: 30px;
}

.heading-4 {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, Times, Times New Roman, serif;
}

.section-3 {
  max-width: 1070px;
  border-bottom: .5px solid #c2c2c2;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.body-3 {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.section-4 {
  max-width: 1070px;
  border-bottom: .5px solid #c2c2c2;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.heading-6 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, Times, Times New Roman, serif;
  display: block;
}

.container-5 {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.image-12 {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container-6 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 100px auto auto;
  padding-bottom: 100px;
  display: flex;
}

.heading-7 {
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, Times, Times New Roman, serif;
}

.paragraph-4 {
  text-align: center;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 20px;
}

.heading-8 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, Times, Times New Roman, serif;
  display: block;
}

@media screen and (min-width: 1280px) {
  .body {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }

  .main_heading {
    display: block;
    left: -20px;
  }

  .heading {
    margin-left: -150px;
    font-size: 50px;
    display: block;
  }

  .paragraph_container {
    max-width: 1400px;
    margin-top: 140px;
    margin-bottom: 0;
    display: flex;
  }

  .subscribe_bar {
    width: 120px;
    text-align: center;
    text-transform: none;
    border-width: .05px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    font-family: Inconsolata, monospace;
    font-size: 18px;
    transition: width .2s;
    display: block;
    left: -15px;
    transform: translate(0);
  }

  .subscribe_bar.about {
    display: block;
    position: relative;
    left: 0;
  }

  .nav_menu {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .main_image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    left: 360px;
  }

  .paragraph {
    max-width: 700px;
    min-width: 700px;
    margin-top: -16px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 72px;
    left: -20px;
  }

  .text-block-3, .subscription_button {
    margin-left: -150px;
    display: block;
  }

  .text-block-4 {
    margin-left: -150px;
  }

  .image-4 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: auto;
  }

  .section {
    max-width: 1500px;
    border-width: .05px .05px .5px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    max-width: 1500px;
    border-top: 2px #000;
    border-bottom: .5px solid #c2c2c2;
    border-left: .5px #c2c2c2;
    border-right: 2px #000;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
  }

  .form-2 {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    left: 331px;
  }

  .field-label, .field-label-2 {
    font-size: 16px;
  }

  .submit-button {
    background-color: #7f5ac5;
    margin-left: auto;
    margin-right: auto;
    padding-left: 128px;
    padding-right: 128px;
    display: block;
  }

  .field-label-3, .text-field, .text-field-2, .text-field-3 {
    font-size: 16px;
  }

  .form-block-2 {
    margin-top: -55px;
    margin-bottom: -16px;
  }

  .image-9 {
    margin-top: -512px;
    margin-left: auto;
    left: -305px;
  }

  .container-3 {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .heading-3 {
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 26px;
    font-weight: 700;
  }

  .block-quote {
    text-align: center;
    margin-top: auto;
    font-size: 22px;
  }

  .paragraph-2 {
    margin-bottom: 39px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    font-size: 20px;
    display: block;
    overflow: visible;
  }

  .paragraph-3 {
    max-width: 600px;
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
    left: 57px;
  }

  .container-4 {
    max-width: 1500px;
    display: flex;
  }

  .section-2 {
    border-bottom: .5px solid #000;
    margin-left: auto;
    margin-right: auto;
  }

  .body-2 {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }

  .image-11 {
    margin-left: auto;
    margin-right: auto;
    left: auto;
  }

  .section-3 {
    max-width: 1500px;
    border-bottom: .5px solid #c2c2c2;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .body-3 {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-4 {
    max-width: 1500px;
    border-bottom: .5px solid #c2c2c2;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-right: 0;
  }

  .heading-5 {
    text-align: center;
    font-family: Georgia, Times, Times New Roman, serif;
  }

  .heading-6 {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-5 {
    margin-top: auto;
  }

  .image-12 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    display: block;
    position: relative;
    left: -25px;
  }

  .container-7 {
    margin-top: 100px;
  }

  .heading-8 {
    text-align: center;
    margin-bottom: 40px;
    font-family: Georgia, Times, Times New Roman, serif;
  }
}

@media screen and (max-width: 991px) {
  .brand-to-home {
    margin-left: 130px;
  }

  .main_heading {
    margin-top: -86px;
    display: block;
    left: 0;
  }

  .heading {
    text-align: center;
    margin-top: 114px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    display: block;
  }

  .form {
    margin-top: 189px;
    margin-left: 0;
  }

  .paragraph_container {
    margin-top: 0;
    display: block;
  }

  .subscribe_bar {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 9px;
    padding-left: 0;
    font-size: 18px;
    font-weight: 700;
    display: block;
    position: relative;
    left: auto;
    right: auto;
  }

  .subscribe_bar.about {
    flex: 0 auto;
    align-self: auto;
    display: block;
    position: relative;
    left: auto;
    right: auto;
  }

  .subscribe_bar.about.aboutpage {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
  }

  .nav_menu {
    object-fit: fill;
    background-color: #c46161;
    border-radius: 0;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-left: 0;
    font-family: Inconsolata, monospace;
    font-size: 16px;
    display: block;
    position: static;
    top: auto;
    right: auto;
  }

  .menu_button {
    width: 100px;
    height: 50px;
    opacity: 1;
    outline-offset: 0px;
    background-color: #fff;
    outline: 3px #333;
    padding-right: 118px;
  }

  .menu_button.w--open {
    color: #000;
    text-shadow: none;
    background-color: #fff;
  }

  .main_image {
    max-width: 100%;
    text-align: center;
    margin-top: -2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    left: auto;
  }

  .icon {
    text-shadow: none;
    mix-blend-mode: normal;
    margin-top: 11px;
    font-size: 50px;
  }

  .paragraph {
    text-align: left;
    margin-top: 115px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
  }

  .text-block-3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .subscription_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .text-block-4 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .image-4 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    left: auto;
  }

  .section {
    max-width: 650px;
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
  }

  .container {
    max-width: 650px;
    margin-top: 66px;
    padding-left: 0;
    padding-right: 0;
  }

  .link-block.w--current {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: #000;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: inline-block;
  }

  .button {
    margin-left: 80px;
  }

  .button.w--current {
    margin-left: 85px;
    padding-left: 0;
  }

  .form-2 {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    left: auto;
  }

  .submit-button {
    padding-left: 143px;
    padding-right: 143px;
    display: block;
  }

  .form-block-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .text-block-5 {
    margin-top: 81px;
    margin-left: 100px;
    margin-right: 100px;
    padding-right: 0;
  }

  .image-9 {
    max-width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    left: auto;
  }

  .container-2 {
    display: block;
  }

  .heading-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 26px;
  }

  .block-quote {
    margin-top: 90px;
    margin-bottom: 50px;
    font-size: 18px;
  }

  .paragraph-2 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .paragraph-3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    left: auto;
  }

  .container-4 {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .section-2 {
    margin-top: 50px;
  }

  .image-11 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: auto;
    left: auto;
  }

  .section-3 {
    max-width: 650px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-4 {
    max-width: 650px;
  }

  .heading-6 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .image-12 {
    margin-top: 50px;
  }

  .container-6 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    margin-top: 69px;
    display: flex;
  }

  .heading-7 {
    text-align: center;
    align-self: center;
    margin: auto;
    font-family: Georgia, Times, Times New Roman, serif;
  }

  .paragraph-4 {
    max-width: 400px;
    text-align: center;
    align-self: center;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .brand-to-home {
    margin-left: 105px;
  }

  .navigation_bar {
    background-color: #fff;
  }

  .heading {
    text-align: center;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
  }

  .form {
    margin-left: -554px;
  }

  .paragraph_container {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .subscribe_bar {
    margin-bottom: 10px;
    margin-left: auto;
    right: auto;
  }

  .subscribe_bar.about {
    margin-bottom: 10px;
    right: auto;
  }

  .nav_menu {
    background-color: #c46161;
    margin-left: 0;
    padding-left: 0;
  }

  .menu_button {
    width: 40px;
    height: 50px;
    max-width: none;
    text-shadow: none;
    margin-top: 14px;
    margin-left: 1px;
    margin-right: 62px;
    padding: 0;
    overflow: visible;
  }

  .main_image {
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .icon {
    mix-blend-mode: normal;
    background-color: #fff;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }

  .paragraph {
    width: 500px;
    margin-top: 109px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-block-3 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .subscription_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .text-block-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .image-4 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .section {
    max-width: 500px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    max-width: 500px;
  }

  .button {
    margin-left: 70px;
  }

  .button.w--current {
    margin-left: 65px;
  }

  .form-2 {
    margin-top: 91px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  .submit-button {
    padding-left: 130px;
    padding-right: 130px;
  }

  .form-block-2, .image-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .heading-3 {
    font-size: 26px;
  }

  .block-quote {
    margin-top: 90px;
  }

  .paragraph-3 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
  }

  .heading-4 {
    margin-bottom: 20px;
  }

  .section-3 {
    max-width: 500px;
    border-bottom: .5px solid #c2c2c2;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .section-4 {
    max-width: 500px;
  }

  .heading-7 {
    margin-top: auto;
  }

  .paragraph-4 {
    max-width: 400px;
  }

  .heading-8 {
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, Times, Times New Roman, serif;
  }
}

@media screen and (max-width: 479px) {
  .brand-to-home {
    margin-left: 50px;
  }

  .main_heading {
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    text-align: center;
    margin: 108px auto 14px;
    font-size: 38px;
  }

  .paragraph_container {
    margin-top: 75px;
  }

  .subscribe_bar {
    margin-bottom: 10px;
    margin-left: auto;
  }

  .subscribe_bar.about {
    margin-left: auto;
  }

  .nav_menu {
    width: 150px;
    margin-bottom: 0;
    margin-left: 159px;
    padding-bottom: 0;
  }

  .main_image {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .icon {
    background-color: #fff;
    margin-left: 31px;
    margin-right: -61px;
    padding-right: 0;
  }

  .paragraph {
    width: 275px;
    text-align: left;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .text-block-3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .subscription_button {
    float: none;
    clear: none;
    object-fit: fill;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    left: auto;
    overflow: visible;
  }

  .text-block-4 {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .image-4 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .section {
    max-width: 280px;
    margin-top: 75px;
  }

  .container {
    max-width: 280px;
  }

  .button, .button.w--current {
    margin-left: 35px;
  }

  .form-2 {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  .submit-button {
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
  }

  .form-block-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .text-block-5 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .container-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .block-quote {
    margin-top: 75px;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 14.5px;
  }

  .paragraph-3 {
    max-height: 650px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container-4 {
    max-width: 450px;
    display: block;
  }

  .image-11 {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: static;
    top: -33px;
  }

  .heading-4 {
    margin-bottom: 50px;
  }

  .section-3, .section-4 {
    max-width: 280px;
  }

  .image-12 {
    margin-top: 35px;
  }

  .container-6 {
    margin-top: 50px;
    display: block;
  }

  .heading-7 {
    margin-top: auto;
  }
}
